@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome</h2>
    <p>To view the Hospitals Web App demo, click the 'Hospitals' link on the menu above or 
        <a class="nav-link text-dark" asp-area="" asp-controller="Hospitals" asp-action="Index">Click Here</a></p>
    <p><a href="https://github.com/jwall1848/HospitalsDemo">Click here to view or download the application source code from GitHub.</a></p>
</div>
